body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.iphone_wrapper{
    position: absolute;
    margin-top: 40px;
}

.goat_block{
    position: absolute;
    height: 620px;
    z-index: 3;
    overflow: hidden;
    top: 90px;
    left: 20px;
    border-radius: 20px;
}

.card{
    width: 300px;
    margin: 0 auto;
}

.img_goat{
    width: 300px;
    height: 370px;
    object-fit: cover;
    border-radius: 20px;
}

.message{
    max-width: 250px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    background-color: lightgray;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px 20px 20px 0;
    margin: 5px auto 10px;
}

.slick-list{
    min-height: 700px;
}

.slick-list .slick-track{
    height: 620px;
    /* position: relative; */
    top: -30px;
}